/* CSS GRID LAYOUT Assignment */

body {
  margin: 40px;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 120px 120px 120px;
  grid-template-areas:
    '....... header header'
    'sidebar content content'
    'footer  footer  footer';
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #0000ff;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}



/* ----------------

STYLING A DYNAMIC GRID Assignment 

---------------------*/

h1 {
  color: #0170ff;
}

a {
  color: #ff0101;
}

li {
  border-left: 5px solid #005cfc;
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 10px 20px;
}

.content {
  padding: 20px;
  margin: 10px;
  background-color: #424edc;
  color: #fff;
  font-style: italic;
}

.active {
  border-left: 5px solid #01e4ff;
}

.footer {
  padding: 20px;
  margin: 10px;
  background-color: #424edc;
  color: #fff;
  text-align: center;
}

/* ----CHALLENGES: 


Codio tests kept failing me because my "colors were incorrect", except I copypasta'd the hex codes directly from the assignment 🙄 ridiculous.



*/